.Company-Name {
  margin-bottom: 0px;
}

.sub-name {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
  padding: 5px;
}

@media screen and (max-width: 767px) {
  .Company-Name {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .sub-name {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 18px;
    padding: 5px;
  }
}
